//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Raleway:300,400,700&display=swap');
$heading-font: 'Montserrat Alternates', helvetica, sans-serif;
$font-stack: 'Raleway', helvetica, sans-serif;

//colors
$indigo: #505588;
$green: #edf2ca;

* {
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    height: 100%;
}
.siteContainer {
    font-family: $font-stack;
    color: $indigo;
    letter-spacing: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: absolute;
}
header {
    width: 100%;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 20px solid $green;

}
.hamburger {
    color: $green;
    font-size: 40px;
    margin-bottom: 10px;
}
.navbar {
    font-size: 20px;
    width: 100%;
    padding: 40px;
    a {
        margin-bottom: 10px;
        text-decoration: none;
    }
}
.true {
    grid-area: nav;
    display: grid;
    background: $indigo;
    color: white;
}
.false {
    display: none;
}
.main {
    flex: 1;
    overflow: auto;
}
.section {
    height: 100%;
    overflow: auto;
    line-height: 2em;
    margin: 6% 30%;
    font-size: 20px;
    @media (max-width: 1200px) {
        margin: 6% 20%;
        font-size: 16px;
    }
    @media (max-width: 700px) {
        margin: 6% 10%;
        font-size: 14px;
    }

}
footer {
    width: 100%;
    height: 15em;
    background: $indigo;
    color: white;
    @media (max-width: 1200px) {
        height: 12em;
    }
    @media (max-width: 700px) {
        height: 10em;
    }
}
.footerContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 4em;
    margin-bottom: 50px;
    a {
        padding: 0 0.7em;
    }
    @media (max-width: 1200px) {
       font-size: 3em;
    }
    @media (max-width: 700px) {
        font-size: 2em;
    }
}
.copyright {
    font-size: 15px;
}
h1 {
    font-family: $heading-font;
    font-size: 100px;
    letter-spacing: .15em;
    margin: 20px;
    a {
        text-decoration: none;
    }
    @media (max-width: 1200px) {
       font-size: 80px;
    }
    @media (max-width: 700px) {
        font-size: 40px;
    }
}
h3 {
    letter-spacing: .3em;
    font-size: 30px;
    margin-bottom: 1.5em;
    font-weight: 300;
    @media (max-width: 1200px) {
        font-size: 20px;
     }
     @media (max-width: 700px) {
         font-size: 20px;
     }
}
a {
    color: inherit;
}
.container {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    color: $indigo;
    margin-bottom: 20px;
    height: 30px;
    width: 300px;
    border: 2px solid $indigo;
    font-size: 20px;
    padding: 10px;
}
textarea {
    height: 200px;
    width: 300px;
    border: 2px solid $indigo;
    padding: 10px;
    font-size: 20px;
    color: $indigo;
}
.button {
    margin: 0 auto;
}
button {
    width: 100px;
    height: 60px;
    background: $indigo;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}
button:hover {
    background: white;
    color: $indigo;
    border: 2px solid $indigo;
    cursor: pointer;
}
