//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Raleway:300,400,700&display=swap');
$heading-font: 'Montserrat Alternates', helvetica, sans-serif;
$font-stack: 'Raleway', helvetica, sans-serif;

//colors
$indigo: #363342;
$green: #C4B1AE;
$white: #FEFFFE;

* {
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    background: $white;
}
h1 {
    font-family: $heading-font;
    font-size: 5em;
    letter-spacing: .15em;
    margin: 20px;
    a {
        text-decoration: none;
    }
    @media (min-width: 1500px) {
        font-size: 6em;
    }
    @media (max-width: 1200px) {
        font-size: 4em;
    }
    @media (max-width: 700px) {
        font-size: 3em;
        margin: 10px;
    }
}
h2 {
    font-weight: bold;
    font-size: 1.7em;
    letter-spacing: .3em;
    margin-bottom: 1.5em;
}
h3 {
    letter-spacing: .3em;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 500;
}
h4 {
    font-size: 1.3em;
    font-weight: 400;
    margin: 1.5em 0;
}
h5 {
    font-size: 1.2em;
    letter-spacing: .2em;
    font-weight: 500;
}
a {
    color: inherit;
}
body {
    height: 100%;
}
.siteContainer {
    font-family: $font-stack;
    color: $indigo;
    letter-spacing: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.container {
    display: flex;
    flex-direction: column;
}
//header and nav
header {
    width: 100%;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: $indigo;
    color: white;
    padding: 40px 0;
}
// .hamburger {
//     color: white;
//     font-size: 40px;
//     padding: 10px;
//     width: 100%;
//     background: $green;
//     @media (max-width: 1200px) {
//         font-size: 30px;
//     }
//     @media (max-width: 700px) {
//         font-size: 20px;
//     }
// }
// .navbar {
//     font-size: 20px;
//     width: 100%;
//     padding: 40px;
//     a {
//         margin: 10px;
//         text-decoration: none;
//     }
//     @media (max-width: 1200px) {
//         font-size: 16px;
//         padding: 20px;
//         a {
//             margin: 6px;
//         }
//     }
//     @media (max-width: 700px) {
//         font-size: 12px;
//         padding: 10px;
//         a {
//             margin: 4px;
//         }
//     }
    
// }
// .true {
//     grid-area: nav;
//     display: grid;
//     background: $indigo;
//     color: white;
// }
// .false {
//     display: none;
// }
//main
.main {
    flex: 1 1;
    overflow: auto;
}
.section {
    height: 100%;
    overflow: auto;
    line-height: 2em;
    margin: 10% 30%;
    font-size: 16px;
    @media (max-width: 1200px) {
        margin: 10% 20%;
        font-size: 14px;
    }
    @media (max-width: 700px) {
        margin: 10% 10%;
        font-size: 12px;
    }

}
//footer
footer {
    width: 100%;
    height: 8em;
    background: $indigo;
    color: white;
    @media (max-width: 1200px) {
        height: 6em;
    }
    @media (max-width: 700px) {
        height: 4em;
    }
}
.footerContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 3em;
    margin-bottom: 20px;
    a {
        padding: 0 0.7em;
    }
    @media (max-width: 1200px) {
       font-size: 2em;
       margin-bottom: 15px;
    }
    @media (max-width: 700px) {
        font-size: 1em;
        margin-bottom: 10px;
    }
}
.copyright {
    font-size: 15px;
    @media (max-width: 1200px) {
        font-size: 10px;
     }
     @media (max-width: 700px) {
        font-size: 8px;
     }
}
//resume
.resume {
    padding: 10%;
    overflow: auto;
    background: $green;
    color: $indigo;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        list-style: none;
        background: $white;
        border-radius: 50px;
        padding: 50px 20px;
        width: 40%;
        @media (max-width: 1200px) {
            width: 60%;
        }
        @media (max-width: 700px) {
            width: 80%;
        }
    }
    li {
        font-size: 1.3em;
        // margin-bottom: 1%;
    }
    a {
        font-weight: bold;
    }
}

//projects
.projects {
    padding: 10%;
    overflow: auto;
}

//contact form
.contact {
    padding: 10%;
    overflow: auto;
    background: $green;
    color: $indigo;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formInputs {
    display: flex;
    flex-direction: column;
}
.field {
    margin-top: 20px;
    font-size: 1.2em;
}
input {
    color: $indigo;
    text-align: left;
    margin-bottom: 20px;
    height: 30px;
    width: 300px;
    border: 3px solid $indigo;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;  
    margin-top: 10px;  
    @media (max-width: 1200px) {
        width: 200px;
        height: 20px;
        font-size: 16px;
    }
    @media (max-width: 700px) {
        width: 150px;
        height: 10px;
        font-size: 12px;
    }
}
textarea {
    height: 200px;
    width: 300px;
    border: 3px solid $indigo;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: $indigo;
    text-align: left;
    @media (max-width: 1200px) {
        width: 200px;
        height: 100px;
        font-size: 16px;
    }
    @media (max-width: 700px) {
        width: 150px;
        height: 80px;
        font-size: 12px;
    }
}
button {
    width: 150px;
    height: 70px;
    background: $indigo;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin-top: 40px;  
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1200px) {
        width: 120px;
        height: 60px;
        font-size: 16px;
    }
    @media (max-width: 700px) {
        width: 100px;
        height: 50px;
        font-size: 12px;
    }
}
button:hover {
    background: white;
    color: $indigo;
    border: 2px solid $indigo;
    cursor: pointer;
}
